.App {
  background-color: #545454;
  color: #fff;
  font-family: Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic Pro,
    Meiryo, MS Gothic, sans-serif;
}

.head,
.filters,
.artists {
  margin: 0 auto;
  text-align: center;
  padding: 0.5rem;
}

.head {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(84, 84, 84, 1) 100%
  );
  padding-bottom: 3rem;
}

/* header section */
.head__logo {
  max-width: 350px;
  margin-bottom: 10px;
}

.head__title {
  font-size: 2rem;
  color: #707070;
}

/* filters section */
.filters {
  margin-bottom: 2rem;
}

.filters__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters__item {
  margin: 0 0.5rem;
}

.filters__item label {
  font-size: 1rem;
}

.filters__input {
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

/* artists section */
.artists {
  max-width: 1420px;
}

.artists__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

/* artist section */
.artist {
  background-color: #000;
  padding: 0.8rem;
  position: relative;
  font-size: 1.2rem;
}

.artist__like {
  max-width: 2rem;
  max-height: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  fill: white;
  cursor: pointer;
}

.artist__stars {
  display: flex;
}

.artist__star {
  width: 2rem;
  height: 2rem;
  fill: white;
  margin: 0.5rem;
}
